* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

a{
    color: rgb(255, 255, 255);
} 

.wrapper {
    padding: 48px 78px;
    display: flex;
    background-color: aquamarine;
}

.principal {
    max-width: 1280px;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(119, 148, 228, 1);
    color: white;
    padding: 15px;
}

.content {
    display: flex;
    text-align: center;
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.content img {
    box-sizing: border-box;
    text-align: right;
    float: right;
    margin: 0px 15px 15px 0px;
    width: 50%;
    border-radius: 50px;
    padding-left: 20px;
    pointer-events: none;
    user-select: none;
    box-shadow: 10px 1px 20px rgba(0,0,0,0.12), 20px 1px 20px rgba(0,0,0,0.24);
}

.footer {
    background-color: rgba(119, 148, 228, 1);
    padding: 15px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


